[Unit]
Description=Desktop Service helps to launch server.
After=network-online.target nftables.service iptables.service

[Service]
Type=simple
ExecStart={}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target